.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-container {
  height: 350px;
  width: 400px;
  background-image: linear-gradient(to bottom, #2b2c39, #b5b9ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
